@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* General CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

nav a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-left {
    display: flex;
    margin-right: auto;
}

.nav-right {
    display: flex;
    margin-left: auto;
}

/* Example One CSS */

.example-one ul {
    padding: 0;
    display: flex;
    height: 65px;


    border-bottom: solid #F9C784;
}

.brand { 
    display: flex;
    margin: 20px;
}

.example-one li {
    padding: 20px;
    height: 65px;
}

.example-one input {
    margin: 18px 15px 0px 15px;
    height: 25px;
    border-color: #F9C784;
    border-radius: 20px;
}

.example-one li:hover {
    background-color: #FCAF58;
}

/* Example Two CSS */
.example-two ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;

    border-top: solid black;
    border-bottom:solid  black;
}

.example-two li {
    padding: 10px;
    margin: 10px;

    border: 2px outset gray;
}

.example-two li:hover {
    background: linear-gradient(to left bottom, white, black);
}

.example-two a:hover {
    color: white;
}